<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<section class="editpage" id="edit">
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            
            <p><h1>Edit Survey</h1></p>
            <form class="form" method="POST" action="/edit/<%= Survey._id %>">

                <!-- Select Element -->
                <div class="col-sm-6 mb-3">
                    <label for="type">Choose a type of survey to edit:</label>
                    <select class="form-select" name="type" id="type" 
                        onchange="typeChanged(this)" required>
                        <% const types=['Agree or Disagree', 'Multiple Choice', 'Short Answer']; %>
                        <% for (let count = 0; count < types.length; count++){ %>
                        <% let selected = (Survey.type == types[count]) ? 'Selected' : ''; %>   
                        <option value='<%= types[count] %>' <%= selected %>> <%=types[count]%> </option>
                        <% } %>
                    </select>
                </div>

                <!-- Active / Inactive Element -->
                <div  class="col-sm-6 mb-3" id="activeCheckbox" style="display">
                    <label class="form-label" for="active" value="<%=Survey.active%>">Active</label>
                    <input type="checkbox" id="active" name="active" checked="checked">
                </div>

                <!-- Question Element -->
                <div class="col-sm-6 mb-3" id="questionDiv" style="display">
                    <label class="form-label">Enter The Question :</label>
                    <input class="survey" type="text" class="form-control" id="question" placeholder="Enter The Question" name="question"
                    value="<%= Survey.question %>" required>
                </div>

                <!-- Options Element -->
                <% let display = (Survey.type == 'Multiple Choice') ? '': ':none';%>
                <div class="col-sm-8 mb-3" id="optionDiv" style="display<%=display%>">
                    <label class="form-label">Enter Options:</label>
                    <a href="#" id="addOption"><button type="button" class="btn btn-primary btn-sm">+</button></a>
                    <a href="#" id="removeOption"><button type="button" class="btn btn-warning btn-sm">-</button></a>
                    <div id="options">
                        <% Survey.options.forEach( option => {%>
                        <input class="survey mt-2" type="text" value="<%= option.option %>" name="options" >
                        <% }); %>
                    </div>
                </div>

                <div class= button>
                    <button class="btn btn-primary" type="submit" >
                       <i class="far fa-submit"></i>Submit
                    </button>                   
                    <a href="/" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
                </div>             
               </form>
            </div>
        </form>
    </div>
</div>

</div>
</section>

<script src="/Scripts/create.js"></script>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>